rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /entries/{entryId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /chats/{chatId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /savedMoments/{momentId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    match /userSettings/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /discoveries/{discoveryId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /memories/{memoryId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /savedSummaries/{summaryId} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
